{% extends 'films/base.html' %}
{% load static %}

{% block body %}

<!-- Banner Start -->
<section class="section banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
				 <h3 class="cd-headline clip is-full-width mb-4 ">
				 	On Location <br>
                    <span class="cd-words-wrapper text-color">
                        <b class="is-visible">New York </b>
                        <b>Connecticut</b>
                        <b>Mass</b>
                    </span>
                </h3>
               <!-- <p>FILM PRODUCTION | CONTENT CREATOR | ONLINE EDITING SERVICE</p> -->
			</div>
		</div>
	</div>
</section>

<!-- Banner End -->

<!-- POrtfolio start -->
 <section class="portfolio ">
	<div class="container">
		<div class="row mb-5">
	      	<div class="col-12">
		        <div class="">
					<img src="{% static 'images/banner.jpg' %}" class="img-fluid" alt="...">
		        </div>
	      	</div>
    	</div>	

	
	</div>
</section> 

{% endblock %}