{% extends 'films/base.html' %}
{% load static %}

{% block body %}


<style>
.hero{
  position: relative;
  /* background-image: url("images/Close-up\ of\ camera\ lens\ gears.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9; */
}
.bg-img {
	opacity: 0.5;
}

</style>

<body>
  

<section class=" portfolio">
	<div class="container hero">
		<div class="row mb-5 justify-content-center">
	      	<div class="col-10 text-center">
				<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
					<h1 class="display-4">VIDEO PRODUCTION PACKAGES</h1>
					<p class="lead">Whether you're on a tight budget, or you’re going all in, we've got the video production package for you.</p>
				  </div>
			  
				  <div class="container">
					<div class="card-deck mb-3 text-center">
					  <div class="card mb-4 box-shadow">
						<div class="card-header">
						  <h5 class="my-0 font-weight-normal">Basic Pro</h5>
						</div>
						<div class="card-body d-flex flex-column">
						  <h2 class="card-title pricing-card-title">$1,650 </h2>
						  <ul class="list-unstyled mt-3 mb-4">
							<li>(Starting guide price)</li>
							<li>Great for when you are on a tight budget</li>
							<li>Ideal for 'Run & Gun' style productions</li>
							<li>20-min Discover & Strategy Session</li>
							<li>1/2 Day HD video Production shoot on location</li>
							<li>Video Editing & Post Production with 2-rounds of Client approvals/revisions</li>
							<li>Live City Films Video Overlay Template</li>
							<li>Royalty Free Music</li>
							<li>Comprehensive digital marketing support to promote your video production</li>
						  </ul>
						  <button type="button" class="btn btn-lg btn-block btn-dark mt-auto">ORDER NOW</button>
						</div>
					  </div>
					  <div class="card mb-4 box-shadow">
						<div class="card-header">
						  <h5 class="my-0 font-weight-normal">Production Plus</h5>
						</div>
						<div class="card-body d-flex flex-column">
						  <h2 class="card-title pricing-card-title">$2,500 </h2>
						  <ul class="list-unstyled mt-3 mb-4">
							<li>(Starting guide price)</li>
							<li>Great for Testimonials, How to & Instructional Videos, About Us etc.</li>
							<li>30-min Discover & Strategy Session</li>
							<li>1 x Day HD video Production shoot on location</li>
							<li>Custom create treatment/storyboard Development</li>
							<li>Video Editing & Post Production with 2-rounds of Client approvals/revisions</li>
							<li>Graphic Packaging (Intro/Outro, 2 to 4 Titles etc.)</li>
							<li>Royalty Free Music</li>
							<li>Comprehensive digital marketing support to promote your video production</li>
						  </ul>
						  <button type="button" class="btn btn-lg btn-block btn-dark">ORDER NOW</button>
						</div>
					  </div>
					  <div class="card mb-4 box-shadow">
						<div class="card-header">
						  <h5 class="my-0 font-weight-normal">Production Pro</h5>
						</div>
						<div class="card-body d-flex flex-column">
						  <h2 class="card-title pricing-card-title">$5,000 </h2>
						  <ul class="list-unstyled mt-3 mb-4">
							<li>(Starting guide price)</li>
							<li>Great for high end video production.</li>
							<li>1-hour Discover & Strategy Session</li>
							<li>2 x Day HD video Production shoot on location</li>
							<li>Custom create treatment/storyboard Development</li>
							<li>Video Editing & Post Production with 2-rounds of Client approvals/revisions</li>
							<li>Graphic Packaging (Intro/Outro, 2 to 4 Titles etc.)</li>
							<li>Royalty Free Music</li>
							<li>Comprehensive digital marketing support to promote your video production</li>
						  </ul>
						  <button type="button" class="btn btn-lg btn-block btn-dark mt-auto">ORDER NOW</button>
						</div>
					  </div>
					</div>
	      	</div>
    	</div>	

		<h4>Process for uploading files to our online video editing service:</h4>
		<ol style="color:white;">
			<li>Fill out and submit the order form for your desired service, a link will be sent to your provided email address.</li>
			<li>Click on the link provided by Live City Films to access the upload page.</li>
			<li>Choose the files you want to upload by either dragging and dropping them into the designated area or clicking on the "Add Files" button and selecting them from your computer.</li>
			<li>Wait for the files to finish uploading. This may take some time depending on the size of your files and the speed of your internet connection.</li>
			<li>Once the files are uploaded, review your selection and make sure that all the files you want to include in your project are present.</li>
			<li>If you have any additional instructions or specifications for Live City Films, enter them into the designated text field in the order form.</li>
			<li>Click on the "Submit" or "Upload" button to send your files to Live City Films. You may receive a confirmation email or message once the upload is complete.</li>
		</ol>
		<p>That's it! Once your files are uploaded, Live City Films will take care of the rest and begin working on your project. If you have any questions or concerns, don't hesitate to reach out to the Live City Films customer support team for assistance.</p>


	</div>
</section>

{% endblock %}